.landing-section {
    padding: 0;
    min-height: 35vmax;
}

.main-landing {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.is-main {
    font-weight: 400;
}

.is-submain {
    font-weight: 300;
    color: #6b6b6b;
}

.cta-section {
    text-align: center;
}

.desc-section {
    background-color: #f9f8f3;
    text-align: center;
    min-height: 40vmin;
}

.info-column {
    margin: 1rem;
    text-align: center;
}

.info-column h1 {
    font-size: 100;
}

.info-column p {
    font-weight: 300;
    padding: 10px;
    color: rgb(107, 107, 107);
}

.benef-column {
    text-align: left;
    background-color: #F9F8F3;
    border-radius: 30px;
    margin: 1.5%;
    box-shadow: -5px 5px 4.5px rgba(0, 0, 0, 0.06);
}

.padded-col {
    padding: 2.5%
}

.benef-column h1 {
    padding: 10px 4%;
    font-weight: 200;
}

.benef-column p {
    font-weight: 300;
    padding: 10px 4%;
    color: rgb(107, 107, 107);
}

.desc {
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(10, 10, 10)
}

.bottom-section {
    background-color: #efebdd;
    background-image: url("/images/Background\ stripe.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 40vmax;
}

.botton-columns {
    width: 90%;
}

.info-blocks {
    margin-bottom: 30px;
}

.waitlist-form {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    align-items: center;
    text-align: center;
}

.waitlist-form h1 {
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.waitlist-form h2 {
    font-weight: 300;
    color: rgb(220, 220, 220)
}

.waitlist-form label {
    font-weight: 200;
    color: white;
}

.waitlist-form input {
    background-color: black;
    font-weight: 200;
    color: rgb(255, 255, 255);
}

.waitlist-form input::placeholder {
    color: rgb(140, 140, 140);
}

.waitlist-form button {
    width: 50%;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media screen and (max-width: 1023px) {
    .main-landing {
        text-align: center;
        padding: 10px 6%;
        margin-bottom: 60px;
    }

    .video-div-main {
        display: none;
    }

    .info-section {
        padding: 70px 6%;
    }

    .benef-column {
        text-align: center
    }

    .esp-vertical-center {
        display: inline;
    }

    .step-column {
        padding: 5% 2%;
    }

    .mob-expand {
        width: 100%;
        margin: 3% 0;
    }
}