@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    color: rgb(10, 10, 10);
}

html {
    background-color: #f3f1eb;
}

body {
    width: 100%;
}

.def-margin {
    margin: 20px 0;
}

.def-padding {
    padding: 80px 6%;
}

.size-massive {
    font-weight: 200;
    font-size: 3rem;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-text {
    color: #027e94;
}

.block:not(:last-child) {
    margin-bottom: 2rem;
}

.is-transparent {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0)
}

.white-text {
    color: white;
}

.navbar-top {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 5%;
    z-index: 10;
    background-color: rgb(243, 241, 235, 0.97);
}

.navbar-menu a {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1rem;
}

.video-main {
    border-radius: 60px 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.navbar-menu a:hover {
    color: #027e94;
}

.waitlist-button {
    background-color: #027e94;
    border: 0;
    border-radius: 10px;
    font-weight: 300;
}

.waitlist-button p {
    color: rgb(255, 255, 255);
    font-weight: 300;
}

.waitlist-button:hover {
    color: rgb(255, 255, 255);
    background-color: #066c7e;
}

.waitlist-nav-button {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #027e94;
    padding: 10%;
}

.waitlist-nav-button p {
    font-weight: 300;
    font-size: 1rem;
}

.l-align-text {
    text-align: left;
}

.waitlist-nav-button:hover {
    color: white;
    border-color: #066c7e;
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-button {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #0994ac;
}

.padded-col {
    padding: 2.5%
}

hr.solid {
    border-top: 1.2px solid rgb(80, 80, 80, 0.2);
}

.contact-button p {
    color: rgb(0, 0, 0);
    font-weight: 300;
}

.only-desk {
    display: flex;
}

.only-mob {
    display: none;
}

.contact-button:hover {
    color: white;
    border-color: #066c7e;
    background-color: rgba(0, 0, 0, 0.1);
}

footer {
    z-index: 1;
    background-color: #262625;
    margin: 0;
    color: white;
}

footer p {
    color: white;
}

.foot-margin {
    padding: 0 6%;
}

.bottom-margin {
    margin-bottom: 0;
}

.foot-soc {
    margin: 0 10px;
    display: inline;
}

.heavy-txt {
    font-weight: 300;
}

.set-footer {
    color: white;
    background-color: #262625;
    padding: 70px 30px;
}

.cta-bottom {
    background-color: rgba(238, 238, 238, 0.7);
    padding: 2.5%;
    border-radius: 40px;
    backdrop-filter: blur(4px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .35);
    margin: 2.5%
}

.work-bottom {
    background-color: rgba(36, 36, 36, 0.6);
    padding: 2.5%;
    border-radius: 40px;
    backdrop-filter: blur(4px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    margin: 2.5%;
    color: white;
}


@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: rgb(249, 248, 243, 0.97);
        padding: 20px 0 0 0;
    }

    .nav-button-contain {
        width: 100%;
    }

    .waitlist-nav-button {
        padding: 0;
    }

    .size-massive{
        font-size: 2.6rem;
    }

    .margin-block {
        border-style: none;
        padding: 20px 0;
        margin: 0;
    }

    .only-desk {
        display: none;
    }

    .only-mob {
        display: flex;
    }

    .cta-bottom {
        padding: 6%;
        text-align: center;
        margin: 8% 0;
    }

    .work-bottom {
        padding: 6%;
        text-align: center;
        margin: 8% 1%;
    }
}